%footer#footer
  .footer
    %ul.left
      %li
        Lovelee Boutique #{Time.now.year}
      %li
        = link_to "info@loveleeboutique.com", "mailto:info@loveleeboutique.com"
      %li
        646 399 8685

    %ul.right
      %li
        = link_to "Privacy Policy", "#", :class => "privacy"
        .privacy_info.hidden
          = @policy.copy.html_safe
      %li
        = link_to "Refund Policy", "#", :class => "refund"
