.carwrapper
  .slider
    %ul
      - @slider_images.each do |image|
        %li
          = link_to image_tag(image.image.url), image.image_link

.featured_images
  - @feature_images.each do |image|
    %ul
      %li.image
        = link_to image_tag(image.image.url), image.image_link
      %li.info
        = link_to image.item_label, image.image_link
.shop
  %ul.sf-menu.sf-vertical
    %li
      = image_tag('/assets/shop_by_size.png')
    %li.drop
      Size
      %ul.size
        %li
          Clothes
          %ul
            - Spree::OptionType.where(:name => "clothes-size").first.option_values.each do |ov|
              %li
                - pg = Spree::ProductGroup.find_by_permalink(ov.name.to_url)
                = link_to ov.presentation, pg_search_path(:product_group_name => pg.permalink)
        %li
          Shoes
          %ul
            - Spree::OptionType.where(:name => "shoes-size").first.option_values.each do |ov|
              %li
                - pg = Spree::ProductGroup.find_by_permalink(ov.name.to_url)
                = link_to ov.presentation, pg_search_path(:product_group_name => pg.permalink)
    %li
      = image_tag('/assets/shop_by_color.png')
    %li.drop
      Color
      %ul
        - Spree::Taxonomy.where(:name => "Colors").first.root.children.each do |color|
          %li
            - pg = Spree::ProductGroup.find_by_name(color.name.to_url)
            = link_to color.name.titleize, pg_search_path(:product_group_name => pg.permalink)
            %ul
              - color.children.each do |sub_color|
                %li
                  - pg = Spree::ProductGroup.find_by_name(sub_color.name.to_url)
                  = link_to sub_color.name.titleize, pg_search_path(:product_group_name => pg.permalink)

