.carousel_wrapper
  - @slider_images.each do |image|
    .carousel
      = image_tag image.image.url

.featured_images
  - @feature_images.each do |image|
    - taxon = Spree::Taxon.where(:permalink =>image.category.downcase).first
    %ul
      %li.image
        = link_to image_tag(image.image.url), seo_url(taxon)
      %li.info

        = link_to taxon.name, seo_url(taxon)

.shop
  %ul
    %li
      = image_tag('/assets/shop_by_size.png')
    %li
      = select_tag "select"
    %li
      = image_tag('/assets/shop_by_color.png')
    %li
      = select_tag "select"
