.carwrapper
  .slider
    %ul
      - @slider_images.each do |image|
        %li
          = link_to image_tag(image.image.url), image.image_link

.featured_images
  - @feature_images.each do |image|
    %ul
      %li.image
        = link_to image_tag(image.image.url), image.image_link
      %li.info
        = link_to image.item_label, image.image_link
.shop
  %ul.sf-menu.sf-vertical
    %li
      = image_tag('/assets/shop_by_size.png')
    %li.drop
      %ul.size
        %li
          Clothes
          %ul
            %li
        %li
          Shoes
          %ul
            %li
    %li
      = image_tag('/assets/shop_by_color.png')
    %li.drop
      %ul.shoes
        %li
          Color
          %ul
            %li
